body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    border: 3px solid #999;
    font-family: cursive;
}
h2 {
    font-size: 30px;
}

form {
    display: inline-block;
    font-size: 25px;
}
input[type='number'] {
    width: 60px;
    padding: 6px;
    margin: 6px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 25px;
}
button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 25px;
}
